*{
    box-sizing:border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: burlywood;
    padding:20px;
    color: blue;
    width:100%;
    text-align: center;
    font-size: medium;
}