ul.ft {
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: black;
   
   }
   
   li.first {
     float: left;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 15px;
     color: white;
     padding-top: 10px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 10px;
   }
   
   li a {
     display: block;
     padding: 10px;
   
   }
   .image{
      background-image: url("af.jpeg");
      background-size: cover;
      height: 800px;
      width: 1350px;
     
   }
   *{
      margin: 0;
      padding: 0;
   }
   .title{
      text-align: center;
      position: absolute;
      margin-top: 625px;
      margin-left: 600px;
      transform: translate(-50%, -50%);
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      font-weight: 600;
      color: white;
      padding: 20px;
   }
   button{
      border: 1px solid white;
      border-radius: 30px;
      background-color: transparent;
      color: white;
      font-family:'Lucida Sans';
      font-size: 15px;
      font-weight: 600;
      padding: 10px;
      width:200px;
     
     
   }
   .btn{
       margin-left: 600px;
       margin-top:725px ;
   }
   .newsite{
      background-color:rgb(243, 240, 240);
      padding:10px;
      text-align: center;
   }
   .newrelease{
      text-align: center;
      font-family:'Times New Roman';
      background-color: snow;
   
      }
   .learnmore{
      color: rgb(0, 38, 255);
      font-size: 20px;
      padding-top:12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .second{
      background-image: url("secondview.jpeg");
      height:559px;
      width:1350px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
     
      }
      .imagefit{
         margin-left: 580px;
         margin-top:30px;
      }
   li.proper{
      list-style-type:none;
      float:none;
      text-align: center;
   }
   .fourth1{
      float: left;
      background-image: url("fourthview1.jpeg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;  
     
   }
   li.fourth11{
      color:orange;
      margin-left:230px;
      list-style-type: none;
      font-size: 20px;
   }
   li.fourth12{
      list-style-type: none;
      font-family: sans-serif;
      color:rgb(22, 20, 20);
      margin-left:130px;
      font-size: 35px;
   
   }
   li.fourth13{
      list-style-type: none;
      font-size: 19px;
      color:blue;
      margin-left:170px;
   }
   
   .fourth2{
      float:left;
      background-image: url("fourth2.jpeg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      margin-right:10px;
       
   }
   .four21{
      margin-top:50px;
      margin-left:240px;
   }
   .four22{
      list-style-type: none;
      float:none;
      text-align: center;
      padding-top:5px;
   }
   .five{
      float:left;
   }
   
   .five1{
      float: left;
      background-image:url("five1.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;
   
   }
   .five2{
      float: left;
      background-image:url("five2.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      font-family: Sans-serif;
   }
   
   .five11{
      text-align: center;
      list-style-type: none;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-top: 10px;
   }
   .five21{
      margin-top: 40px;
      margin-left:250px;
      margin-top:40px;
      margin-bottom:10px;
   
   }
   
   .five22{
      text-align: center;
      padding-top:5px;
      list-style-type: none;
      font-size: 18px;
      color:rgb(66, 65, 65);
   
   }
   pre.five22{
      font-family: sans-serif;
   }
   .six{
      float: left;
   }
   .six1{
      float: left;
      background-image:url("six1.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;
   }
   
   li.six11{
      text-align: center;
      list-style-type: none;
      font-size: 18px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(66, 65, 65);
   }
   .six2{
      float: left;
      background-image:url("six2.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      font-family: Sans-serif;
   }
   pre.six12{
      color: blue;
      margin-left: 200px;
      margin-top:15px;
      font-size: 15px;
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
   }
   .last{
       background-color: rgb(243, 240, 240);
   }
   
   p.foot1{
      margin-left:225px;
      margin-right: 225px;
      color:gray;
      font-size:12px;
     
      padding-top: 20px;
   }
   .foot2{
      margin-left:225px;
      margin-right: 225px;
      color:gray;
   }
   table{
      text-align: left;
   }
   td{
      padding-top: 6px;
      padding-right: 80px;
      font-size: 12px;
      font-family: sans-serif;
   }
   th{
      padding-right: 80px;
      font-size: 12px;
      color:rgb(63, 62, 62);
      padding-top: 15px;
      font-family: sans-serif;
   
   }
   
   
   ul.ft {
   list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: black;
   
   }
   
   li.first {
     float: left;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 15px;
     color: white;
     padding-top: 10px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 10px;
   }
   
   li a {
     display: block;
     padding: 10px;
   
   }
   .image{
      background-image: url("af.jpeg");
      background-size: cover;
      height: 800px;
      width: 1350px;
     
   }
   *{
      margin: 0;
      padding: 0;
   }
   .title{
      text-align: center;
      position: absolute;
      margin-top: 625px;
      margin-left: 600px;
      transform: translate(-50%, -50%);
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      font-weight: 600;
      color: white;
      padding: 20px;
   }
   button{
      border: 1px solid white;
      border-radius: 30px;
      background-color: transparent;
      color: white;
      font-family:'Lucida Sans';
      font-size: 15px;
      font-weight: 600;
      padding: 10px;
      width:200px;
     
     
   }
   .btn{
       margin-left: 600px;
       margin-top:725px ;
   }
   .newsite{
      background-color:rgb(243, 240, 240);
      padding:10px;
      text-align: center;
   }
   .newrelease{
      text-align: center;
      font-family:'Times New Roman';
      background-color: snow;
   
      }
   .learnmore{
      color: rgb(0, 38, 255);
      font-size: 20px;
      padding-top:12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .second{
      background-image: url("secondview.jpeg");
      height:559px;
      width:1350px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
     
      }
      .imagefit{
         margin-left: 580px;
         margin-top:30px;
      }
   li.proper{
      list-style-type:none;
      float:none;
      text-align: center;
   }
   .fourth1{
      float: left;
      background-image: url("fourthview1.jpeg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;  
     
   }
   li.fourth11{
      color:orange;
      margin-left:230px;
      list-style-type: none;
      font-size: 20px;
   }
   li.fourth12{
      list-style-type: none;
      font-family: sans-serif;
      color:rgb(22, 20, 20);
      margin-left:130px;
      font-size: 35px;
   
   }
   li.fourth13{
      list-style-type: none;
      font-size: 19px;
      color:blue;
      margin-left:170px;
   }
   
   .fourth2{
      float:left;
      background-image: url("fourth2.jpeg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      margin-right:10px;
       
   }
   .four21{
      margin-top:50px;
      margin-left:240px;
   }
   .four22{
      list-style-type: none;
      float:none;
      text-align: center;
      padding-top:5px;
   }
   .five{
      float:left;
   }
   
   .five1{
      float: left;
      background-image:url("five1.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;
   
   }
   .five2{
      float: left;
      background-image:url("five2.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      font-family: Sans-serif;
   }
   
   .five11{
      text-align: center;
      list-style-type: none;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-top: 10px;
   }
   .five21{
      margin-top: 40px;
      margin-left:250px;
      margin-top:40px;
      margin-bottom:10px;
   
   }
   
   .five22{
      text-align: center;
      padding-top:5px;
      list-style-type: none;
      font-size: 18px;
      color:rgb(66, 65, 65);
   
   }
   pre.five22{
      font-family: sans-serif;
   }
   .six{
      float: left;
   }
   .six1{
      float: left;
      background-image:url("six1.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:20px;
      font-family: Sans-serif;
   }
   
   li.six11{
      text-align: center;
      list-style-type: none;
      font-size: 18px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(66, 65, 65);
   }
   .six2{
      float: left;
      background-image:url("six2.jpg");
      background-size: cover;
      height: 580px;
      width: 650px;
      margin-left:10px;
      font-family: Sans-serif;
   }
   pre.six12{
      color: blue;
      margin-left: 200px;
      margin-top:15px;
      font-size: 15px;
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
   }
   .last{
       background-color: rgb(243, 240, 240);
   }
   
   p.foot1{
      margin-left:225px;
      margin-right: 225px;
      color:gray;
      font-size:12px;
     
      padding-top: 20px;
   }
   .foot2{
      margin-left:225px;
      margin-right: 225px;
      color:gray;
   }
   table{
      text-align: left;
   }
   td{
      padding-top: 6px;
      padding-right: 80px;
      font-size: 12px;
      font-family: sans-serif;
   }
   th{
      padding-right: 80px;
      font-size: 12px;
      color:rgb(63, 62, 62);
      padding-top: 15px;
      font-family: sans-serif;
   
   }